---
title: Article
---
extends layouts/_layout
block content
  .article-page
    .container.container--small
      main.article-page__main#main
        .article-page__video.article-video.embed-responsive.embed-responsive-16by9
          iframe.embed-responsive-item(width="100%" height="440" src="https://www.youtube.com/embed/EOiNe_GpcHE" allowfullscreen title="video" style="border: 0")
        .article-page__elements
          .article-page__right
            blockquote.article-page__blockquote
              span.quote-symbol ”
              p החברה שלנו הוקמה בשנת 2007, והיא עוסקת בהרכבת ובמכירת מחשבים חזקים במיוחד, לשימוש ביתי משרדי סלוני, ובעיקר לשימושה של האוכלוסייה חובבת המשחקי מחשב, או בקיצור.
            .article-page__lists
              ol.article-page__list.article-page__list--ordered
                li אחת
                li שתיים
                li שלוש
                li ארבעה
              ul.article-page__list.article-page__list--unordered
                li אחת
                li שתיים
                li שלוש
                li ארבעה
            .article-page__tags
              ul.product-tags
                li.product-tags__tag Unlocked
                li.product-tags__tag 3.4GHz
                li.product-tags__tag 8 Core
          .article-page__left
            .article-page__headings
              h1.h1 כיתוב - H1
              h2.h2 כיתוב - H2
              h3.h3 כיתוב - H3
              h4.h4 כיתוב - H4
              h5.h5 כיתוב - H5
              h6.h6 כיתוב - H6
        .article-page__texts
          p.article-page__text.article-page__text--secondary מחשבי "גיימינג" ידועים ביופיים ובביצועם החזקים עבור "גיימרים", אשר צמאים לגרפיקה במשחקי המחשב- התלת מימדית והמתקדמת של תקופתנו.
          p.article-page__text.article-page__text--secondary מחשבי-על אלו בולטים משאר המחשבים הביתיים, ואף שונים ברכיביהם הפנימיים –אותם לא תמצאו במחשב הביתי\משרדי הממוצע,
            a(href="") של ימינו
          p.article-page__text.article-page__text--bordered לדוגמא, קירורי מים לרכיבי המחשב, תאורה פנימית לנוחיות וליופי, מארזים עם חלונות שקופים, כרטיסי מסך חזקים- המיועדים לגרפיקה תלת מימדית, ספקי כוח המתואמים לביצועים כבדים של הרכיבים, ומאווררים גדולים ושקטים במיוחד, השומרים על טמפרטורות נמוכות של הרכיבים ובכך משפרים את ביצועם.
        .site-elements__tabs.article-page__tabs
          .site-elements__tab.site-elements__tab--active
            button אחת
          .site-elements__tab
            button שתיים
          .site-elements__tab
            button שלוש
        .article-page__btns
          ul
            li: button.btn.btn--simple כפתור
            li: button.btn.btn--simple--hover כפתור
          ul
            li: button.btn.btn--gradient כפתור
            li: button.btn.btn--gradient--hover כפתור
        .article-page__gallery.article-gallery
          .article-page__img.article-gallery__main
            img(src="img/article-img.jpg", alt="")
            img(src="img/gallery1.jpg", alt="")
            img(src="img/gallery2.jpg", alt="")
            img(src="img/gallery3.jpg", alt="")
            img(src="img/gallery1.jpg", alt="")
          .article-gallery__nav
            div.article-gallery__nav__item
              img(src="img/article-img.jpg", alt="")
            div.article-gallery__nav__item
              img(src="img/gallery1.jpg", alt="")
            div.article-gallery__nav__item
              img(src="img/gallery2.jpg", alt="")
            div.article-gallery__nav__item
              img(src="img/gallery3.jpg", alt="")
            div.article-gallery__nav__item
              img(src="img/gallery1.jpg", alt="")
        .article-page__img-right
          img(src="img/img-right.jpg", alt="")
          p כדי להפעיל לולאה אנחנו צריכים מספר דברים:בלוק: זה החלק שיושב על הרכיב שאנו רוצים לקרר שבתוכו יש תחלופה של מים ובסיסו הוא לרוב נחושת כדי להעביר את החום. מיכל מים: זהו החלק שאנו משתמשים בעיקר כדי לאחסן בו מים והוא יקל עלינו לצורך שחרור אוויר עודף בלולאה, לפני שעולם הקאסטום התפתח הרכיב הזה היה לא הכרחי ולא זקוקים לו כדי להפעיל לולאה
        .article-page__img-left
          img(src="img/img-left.jpg", alt="")
          p קירור מסוג זה הוא למעשה בחירה מותאמת אישית של כלל החלקים שאחראיים לצורך תפעול הלולאה, וזה נקראה לולאה כי המים זורמים שם ולא יוצאים החוצה (אלא אם נחליט אחרת).





