---
title: Warranty
---
extends layouts/_layout
block content
  .warranty-page
    .container
      main.warranty-page__main#main
        .warranty-page__category
          p.warranty-page__title אודותינו
          p.warranty-page__text
            | החברה שלנו הוקמה בשנת 2007, והיא עוסקת בהרכבת ובמכירת מחשבים חזקים במיוחד, לשימוש ביתי משרדי סלוני, ובעיקר לשימושה של האוכלוסייה חובבת המשחקי מחשב, או בקיצור- "גיימרים".
            br
            | מחשבי "גיימינג" ידועים ביופיים ובביצועם החזקים עבור "גיימרים", אשר צמאים לגרפיקה במשחקי המחשב- התלת מימדית והמתקדמת של תקופתנו.
            br
            | מחשבי-על אלו בולטים משאר המחשבים הביתיים, ואף שונים ברכיביהם הפנימיים –אותם לא תמצאו במחשב הביתי משרדי הממוצע, של ימינו.
            br
            | לדוגמא, קירורי מים לרכיבי המחשב, תאורה פנימית לנוחיות וליופי, מארזים עם חלונות שקופים, כרטיסי מסך חזקים- המיועדים לגרפיקה תלת מימדית, ספקי כוח המתואמים לביצועים כבדים של הרכיבים, ומאווררים גדולים ושקטים במיוחד, השומרים על טמפרטורות נמוכות של הרכיבים ובכך משפרים את ביצועם.
            br
            br
            | מייסדי החברה הם גם "גיימרים" נלהבים וכבר יותר מ-9 שנים, החברה מצליחה לספק את רצון הציבור, ולכבוש את ליבם של חובבי משחקי המחשב, המגיעים מכל רחבי הארץ, כדי לקנות את ציוד ה"גיימינג" החדיש ביותר, ובמחירים האטרקטיבים ביותר. והכי חשוב, אצלנו מקבלים אמינות, מקצועיות ושירות חם מכל הלב, ולאורך כל הדרך.
        .warranty-page__category.warranty-page__category--small-mb
          p.warranty-page__title הצוות שלנו
          .warranty-page__2col
            p.warranty-page__text.warranty-page__text--right לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית סחטיר בלובק. תצטנפל בלינדו למרקל אס לכימפו, דול, צוט ומעיוט - לפתיעם ברשג - ולתיעם גדדיש. קוויז דומור ליאמום בלינך רוגצה. לפמעט מוסן מנת. נולום ארווס סאפיאן - פוסיליס קוויס, אקווזמן להאמית קרהשק סכעיט דז מא, מנכם למטכין נשואי מנורך. נולום ארווס סאפיאן - פוסיליס קוויס, אקווזמן קוואזי במר מודוף. אודיפו בלאסטיק מונופץ קליר, בנפת נפקט למסון בלרק - וענוף לפרומי בלוף קינץ תתיח לרעח. לת צשחמי צש בליא, מנסוטו צמלח לביקו ננבי, צמוקו בלוקריה שיצמה ברורק. גולר מונפרר סוברט לורם שבצק יהול, לכנוץ בעריר גק ליץ, לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית. סת אלמנקום ניסי נון ניבאה. דס איאקוליס וולופטה דיאם.
            .warranty-page__imgs
              ul
                each val in [1, 2]
                  -for (let i = 1; i <= 3; i++)
                    li
                      figure(tabindex=0)
                        img(src="img/warranty-img#{i}.jpg", alt="")
                        figcaption שם מלא
        .warranty-page__category.warranty-page__category--small-mb
          p.warranty-page__title שאלות נפוצות
          .site-elements__tabs.warranty-page__tabs
            .site-elements__tab.site-elements__tab--active
              button כללי
            .site-elements__tab
              button אחריות
            .site-elements__tab
              button משלוחים
          .warranty-page__accordion.accordion
            a.accordion__text.collapsed.accordion__toggle(href="#accordion1" aria-expanded="false" aria-controls="accordion1").accordion__toggle שאלה האם המחירים שלכם כוללים מע"מ? תשובה אכן כל המחירים באתר הם כוללים מע"מ - אנו נותנים מחירים הטובים בארץ ובמרבית המקרים זולים אנו נותנים מחירים הטובים בארץ ובמרבית המקרים זולים
            #accordion1.accordion__inner(role="tabpanel")
              p.accordion__text הראשית והמעבדה היא במושב אודים (ליד נתניה) ושאר החנויות הן נקודות שירות - כלומר איסוף לאחר התשלום או מסירה בעת תקלה, אין בפועל בנקודות שירות נציגים שלנו וקופות שלנו, רק נציגים כלליים הנותנים כאמור שירות מסירה וקבלת מוצר לתיקון.
          .warranty-page__accordion.accordion
            a.accordion__text.collapsed.accordion__toggle(href="#accordion2" aria-expanded="false" aria-controls="accordion2") שאלה האם המחירים שלכם כוללים מע"מ? תשובה אכן כל המחירים באתר הם כוללים מע"מ - אנו נותנים מחירים הטובים בארץ ובמרבית המקרים זולים אנו נותנים מחירים הטובים בארץ ובמרבית המקרים זולים
            #accordion2.accordion__inner(role="tabpanel")
              p.accordion__text הראשית והמעבדה היא במושב אודים (ליד נתניה) ושאר החנויות הן נקודות שירות - כלומר איסוף לאחר התשלום או מסירה בעת תקלה, אין בפועל בנקודות שירות נציגים שלנו וקופות שלנו, רק נציגים כלליים הנותנים כאמור שירות מסירה וקבלת מוצר לתיקון.
          .warranty-page__accordion.accordion
            a.accordion__text.collapsed.accordion__toggle(href="#accordion3" aria-expanded="false" aria-controls="accordion3") שאלה האם המחירים שלכם כוללים מע"מ? תשובה אכן כל המחירים באתר הם כוללים מע"מ - אנו נותנים מחירים הטובים בארץ ובמרבית המקרים זולים אנו נותנים מחירים הטובים בארץ ובמרבית המקרים זולים
            #accordion3.accordion__inner(role="tabpanel")
              p.accordion__text הראשית והמעבדה היא במושב אודים (ליד נתניה) ושאר החנויות הן נקודות שירות - כלומר איסוף לאחר התשלום או מסירה בעת תקלה, אין בפועל בנקודות שירות נציגים שלנו וקופות שלנו, רק נציגים כלליים הנותנים כאמור שירות מסירה וקבלת מוצר לתיקון.
          .warranty-page__accordion.accordion
            a.accordion__text.collapsed.accordion__toggle(href="#accordion3" aria-expanded="false" aria-controls="accordion4") שאלה האם המחיר כולל הרכבה תשובה כל הזמנה של 6 חלקים ומעלה תכלול הרכבה בחינם וסידור כבלים ברמה הכי מקצועית, כמו כן בדיקות מערכת ובדיקות מאמץ עם 2 אנו נותנים מחירים הטובים בארץ ובמרבית המקרים זולים
            #accordion4.accordion__inner(role="tabpanel")
              p.accordion__text הראשית והמעבדה היא במושב אודים (ליד נתניה) ושאר החנויות הן נקודות שירות - כלומר איסוף לאחר התשלום או מסירה בעת תקלה, אין בפועל בנקודות שירות נציגים שלנו וקופות שלנו, רק נציגים כלליים הנותנים כאמור שירות מסירה וקבלת מוצר לתיקון.
        .warranty-page__category
          p.warranty-page__title בין לקוחותינו
          .warranty-page__logos
            -for (let i = 1; i <= 15; i++)
              a(href="")
                img(src="img/warranty-logo#{i}.jpg", alt="warranty-#{i}")





