.main-slider
  .main-slider__slide.main-slider__slide--1
    .container
      p.main-slider__title לשחק יותר. להוציא פחות.
      p.main-slider__sub המשחקי מחשב, או בקיצור- "גיימרים".
      button(type="button").main-slider__btn קנה עכשיו
    img.main-slider__img(src="img/slide1.png", alt="slide 2")
  .main-slider__slide.main-slider__slide--2
    .container
      p.main-slider__title מבצע הצעה מיוחדת
      p.main-slider__sub מבחר חומרה וציוד היקפי הגדול והזול בארץ!
      a(href="google.com").main-slider__price
        s ₪950
        | ₪789
    img.main-slider__img(src="img/slide2.png", alt="slider 2")
  .main-slider__slide.main-slider__slide--wave.main-slider__slide--without-border
    .container
      p.main-slider__title שירותים חדשים
      p.main-slider__sub מאיץ את ביצועי המערכת, אתמול המחשב מהיר פי 2!
      ul.main-slider__icons
        li
          a(href="").main-slider__icon-link: img(src="img/slider-speed.svg", alt="fast delivery")
        li
          a(href="").main-slider__icon-link: img(src="img/slider-ear.svg", alt="consulation")
        li
          a(href="").main-slider__icon-link: img(src="img/slider-dropbox.svg", alt="box")
    img.main-slider__img.main-slider__img(src="img/slide3.png", alt="slide 3")
  .main-slider__slide.main-slider__slide--without-border.main-slider__slide--4
    img.main-slider__slide--4__bg(src="img/slider4-bg.png", alt="")
    .container
      p.main-slider__title באנדל במבצע
      p.main-slider__sub.main-slider__sub--small עד גמר המלאי | המחירים למזומן | + 2% לאשראי, עד 12 תשלומים או 4% לאשראי, עד 36 תשלומים
    .main-slider__content
      img.main-slider__img.main-slider__img--monitor(src="img/slide4.png", alt="slider 4")
      span.main-slider__plus +
      .main-slider__gpus
        .main-slider__gpu
          a(href="")
            img(src="img/slide4-gpu.png", alt="gpu")
            p ₪789
        .main-slider__gpu
          a(href="")
            img(src="img/slide4-gpu.png", alt="gpu")
            p ₪789
        .main-slider__gpu
          a(href="")
            img(src="img/slide4-gpu.png", alt="gpu")
            p ₪789
  .main-slider__slide.main-slider__slide--without-border.main-slider__slide--5
    .container
      .main-slider__product
        a(href="")
          img(src="img/slide5-img2.png", alt="")
          p.main-slider__product-text.main-slider__product-text--1
            strong קנה מארז ELITE
            span קבל מקלדת מכאנית OMEN 1100
          p.main-slider__product-price ₪4,950
      .main-slider__product
        a(href="")
          img(src="img/slide5-img1.png", alt="")
          p.main-slider__product-text.main-slider__product-text--2
            strong קנה מארז ELITE
            span קבל מקלדת מכאנית OMEN 1100
          p.main-slider__product-price.main-slider__product-price--2 ₪4,950
  .main-slider__slide.main-slider__slide--6
    a.main-slider__link(href="")
      .container
        p.main-slider__title מערכת גיימינג - VALUE 4
        p.main-slider__sub.main-slider__sub--small i5 | B250 | 8G | 1T | MX310 | 500W | GTX1060 6G
        p.main-slider__price.main-slider__price--hardware
                    s ₪3,950
                    | ₪3,090
      img.main-slider__img.main-slider__img--hardware(src="img/slide6-img.png", alt="slider 6")
  .main-slider__slide.main-slider__slide--7
    img.main-slider__slide--7__bg(src="img/slide7-bg.png", alt="")
    .container
      img.main-slider__img.main-slider__img--intel(src="img/slide7-img.png", alt="slider 7")
      .main-slider__texts
        img(src="img/intel-logo.png", alt="intel")
        p.main-slider__title חדש מבית Intel
        p.main-slider__sub Optane Memory - מאיץ את ביצועי המערכת
        ul.main-slider__list
          li אתחול המחשב מהיר פי 2
          li דפדפנים מהירים פי חמישה
          li מהירות העלאת המשחקים גדל ב- 65%
